name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build-arm64:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v4

      - name: Clean Go caches (self-hosted)
        run: |
          rm -rf "$HOME/go/pkg/mod"
          rm -rf "$HOME/.cache/go-build"

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Build linux/arm64 binary
        run: make bin-arm64

